<p>
<iframe id="player" type="text/html" width="640" height="390"
  src='https://www.youtube.com/embed/<%= @video.url %>?rel=0&autoplay=<%= params[:autoplay] || 0 %>'
  frameborder="0"></iframe>

  <% if @previous %>
    <%= link_to "<< Previous", @previous %>
  <% end %>

  <% if @next %>
    <%= link_to "Next >>", @previous %>
  <% end %>

</p>
