<div class="columns">
  <div class="column">
    <iframe id="player" type="text/html" width="640" height="390"
    src='https://www.youtube.com/embed/<%= @video.url %>?rel=0&autoplay=<%= params[:autoplay] || 0 %>'
    frameborder="0"></iframe>

    <%= link_to "<< Previous", @video.previous if @video.previous.present? %>


  <% if @next %>
    <%= link_to "Next >>", @previous %>
  <% end %>

  </div>
</div>
