<!DOCTYPE html>
<html>
  <head>
    <title>UnbearableFm</title>

  </head>


  <body>
    <%= render 'layouts/header' %>

    <% if @previous %>
      <%= link_to "Previous", @previous %>
    <% end %>

    <% if @next %>
      <%= link_to "Previous", @previous %>
    <% end %>

    <%= yield %>
  </body>
</html>
